body {
    background-color: #495F75 !important;
    font-family: Raleway, sans-serif;
}
.navbar {
    font-family: Quicksand, sans-serif;
}
.container {
    padding-bottom:30px;
}
.sub-row {
    padding-top:10px;
}
.main-row {
    margin-top:80px;
}
.card {
    background: #DCD7D5;
}