<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway&display=swap"
          integrity="sha384-O1K/V4LAHvu4TDdDBMeQedXSxBYVIIK+Cgmmk4y622T6xthoO5EA3XWio/7YVX40"
          crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/04d344c588.js"
            integrity="sha384-YqGZonTAhB3+9eTubSiIQLI2uOnEotmWq3dil93CbQ3Md1bSCZhqPXU1oLdb52Gt"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/particlehub.css">
    <meta name="csrf-token" content="abc123">

    <title>Particle Hub</title>
</head>

<body>
<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="SettingsModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Settings</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            Placeholder
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <i class="fas fa-wifi"></i>
            Particle Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <button disabled class="btn btn-secondary ml-auto" id="settings-modal-btn" data-toggle="modal"
                    data-target="#settings-modal" type="button"><i class="fas fa-cog"></i></button>
        </div>
    </nav>

    <div class="row main-row justify-content-center">
        <div class="col-sm-12 col-med-11 col-lg-11">
            <div class="card bg-light">
                <div class="card-header d-flex justify-content-between align-items-center">
                    Devices
                    <span>
                        <button class="btn btn-outline-info btn-sm" id="add-unmanaged-devices" type="button">Add Unmanaged</button>
                        <button class="btn btn-success btn-sm" id="start-logging-all" type="button">Start Logging All</button>
                        <button class="btn btn-danger btn-sm" id="stop-logging-all" type="button">Stop Logging All</button>
                    </span>
                </div>
                <table class="table table-hover" aria-label="Table containing active devices in the account.">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">ID</th>
                        <th scope="col">Logging</th>
                        <th scope="col">Add/Remove</th>
                        <th scope="col">Log Control</th>
                    </tr>
                    </thead>
                    <tbody id="device-list">
                        <!-- Load Device List here via AJAX -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="device-details">
        <!--Device details inserted here -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="static/particlehub.js"></script>
</body>
</html>
